kivy
kivymd
keyring
#nostr==0.0.2
# git+https://github.com/jeffthibault/python-nostr.git
#git+https://github.com/davestgermain/aionostr.git#egg=aionostr
pynostr[websocket-client]
python-dotenv
sqlitedict